1 # banyak kicauan yang memiliki balasan
5 # ID kicauan = 5
4 # Memiliki 4 balasan
-1 1 # Balasan dengan ID ke-1 memiliki parent root, yaitu Node Utama
Ini Balasan dari Node Utama, yaitu Kicauan ke-5
Alpha
14/10/2023 11:09:18
1 2 # Balasan dengan ID ke-2 memiliki parent balasan ID ke-1
Ini Balasan dari Balasan ID ke-1
Charlie
14/10/2023 11:09:12
1 3 # Balasan dengan ID ke-3 memiliki parent balasan ID ke-1
Ini Balasan dari Balasan ID ke-1
Beta
14/10/2023 11:09:12
2 4 # Balasan dengan ID ke-4 memiliki parent balasan ID ke-2
Ini Balasan dari Balasan ID ke-2
Alpha
14/10/2023 11:09:12