3           
Alpha
alpha_pass
Bio alpha
111
Pahing       
Privat       
R * R * R * R * R * 
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Beta
beta_pass
Bio beta
222
Pahing
Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Charlie
charlie_pass



Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
1 0 1    
0 1 0
1 0 1
2      
0 1 0  
2 1 1